@using TansiqyFrontend.ViewModels
@model List<DegreeViewModel>

@{
    ViewData["Title"] = "نظام التنسيق";
}

<h2>اختار الشهادة</h2>

<form asp-action="Results" method="post">
    <select name="degId" class="form-select">
        @foreach (var deg in Model)
        {
                <option value="@deg.DegID">@deg.Name (@deg.Type)</option>
        }
    </select>
    <br />  
    <button type="submit" class="btn btn-primary">عرض النتائج</button>
</form>
